# ======================
# Maven
# ======================
target/
!.mvn/wrapper/maven-wrapper.jar

# ======================
# IntelliJ IDEA
# ======================
.idea/
*.iml
*.ipr
*.iws

# ======================
# Arquivos sensíveis
# ======================
src/main/resources/db.properties
